{% extends 'base.html.twig' %}
{% block title 'Agence Lorraine Ipsum'%}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lorraine Ipsum</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ratione dolorum fugit, iure distinctio eaque ab. Quos maxime dicta similique.</p>
</div>
{% endblock %}
